<form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm" role="form">
  <div class="mb-3 mt-3">
      <label for="inputState" class="form-label text-dark">{{this.title}}</label>
      <input type="text" class="form-control form-control-sm" placeholder="Ingrese la informacion"
          formControlName="name" />
      <div *ngIf="getControl('name').invalid && ngForm.submitted" class="text-left">
          <label class="text-danger text-xs">Requerido o invalido</label>
      </div>
  </div>

  <div class="mb-3 mt-3 text-end">
      <button type="submit" class="btn btn-dark btn-sm">Guardar</button>
  </div>
</form>
